.modal-layer {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgba(0, 0, 0, 0.6);
}

.modal-root {
  display: flex;
  flex-direction: column;
  border: 3px solid #fff;
  background-color: rgba(0, 0, 0, 0.5);
  border-radius: 10px;
}

.modal-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  min-width: 300px;
  padding: 1rem;
  border-bottom: 1px solid #fff;
  font-weight: 700;
  font-size: 22px;
  color: #fff;
  font-family: sans-serif;
}

.modal-body {
  padding: 1rem;
}

.close-btn {
  font-size: 1.5rem;
  font-weight: 700;
  line-height: 1;
  cursor: pointer;
}

.modal__photo {
  display: block;
  margin: 0 auto;
  width: auto;
  height: 400px;
  max-width: 100%;
  max-height: 100%;
}
